@model ToDoViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IJsonHelper Json;
@{
    ViewBag.Title = "To Do";

    var user = await UserManager.GetUserAsync(User);

    IList<string> userRoles = null;
    var userRole = "";

    if (user != null)
    {
        userRoles = await UserManager.GetRolesAsync(user);
        userRole = userRoles.ToList().FirstOrDefault();
    }
}
@section Scripts
{
    <script src="~/js/app/datepicker.js"></script>
    <script src="~/js/app/to-do.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
}
@section KnockoutContext {
    <script type="text/javascript">
        ToDoItemsList.ContainerId = '#todo-list';
        ToDoItemsList.ToDos = @Html.Raw(JSONConverter.Encode(Model.ToDoItems));
        ToDoItemsList.Filter = @Html.Raw(JSONConverter.Encode(Model.Filter));
        ToDoItemsList.Pager =  @Html.Raw(JSONConverter.Encode(Model.Paging));
        ToDoItemsList.Statuses =  @Html.Raw(JSONConverter.Encode(Model.Statuses));

        ToDoItemsList.GetToDosUrl = "@Html.Raw(Url.Action("GetToDos"))";

        ToDoItemsList.Init();
    </script>
}
<div class="container min-height-600" id="todo-list">
    <ol class="breadcrumb mt-4 mb-3">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">To Do</li>
    </ol>
    @if (userRole == "Student")
    {
        <div class="mb-3 page-title-header">To Do Items</div>
    }
    @if (userRole == "Teacher")
    {
        <div class="mb-3 page-title-header">Tasks</div>
    }
    <div class="row" data-bind="with: Filter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
            <div class="card card-filter my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="name" placeholder="Name" data-bind="value: Name">
                                <label class="cursor-pointer" for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="subject" placeholder="Subject" data-bind="value: Subjects">
                                <label class="cursor-pointer" for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <select class="form-control select-control cursor-pointer" data-bind="options: $root.Statuses, value: StatusId, optionsText: 'Value', optionsValue: 'Key', optionsCaption: '-Any-'"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group relative">
                                <input class="form-control cursor-pointer" id="calendar-date" type="text" placeholder="Select a Deadline date" data-format="mm/dd/yyyy" data-bind="value: Deadline">
                                <label class="cursor-pointer" for="calendar-date">Deadline</label>
                                <span class="todo-datepicker cursor-pointer"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                            <button class="btn btn-secondary font-weight-600" data-bind="click: $root.ClearFilter">Clear</button>
                            <button class="btn btn-primary font-weight-600" data-bind="click: $root.ApplyFilter">Apply Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-bind="visible: ToDos().length > 0 && !Loading()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-inline list-unstyled">
                <li>
                    Showing&nbsp;<span data-bind="text: Pager.StartRecord"></span>
                    to&nbsp;<span data-bind="text: Pager.EndRecord"></span>
                    of&nbsp;<span data-bind="text: Pager.TotalCount"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row margin-bottom-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" data-bind="visible: ToDos().length > 0 && !Loading(), foreach: ToDos">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label"> Name: </label><br />
                            <span data-bind="text: Name"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="control-label"> Subject: </label><br />
                            <span data-bind="text: Subject"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="control-label"> Status: </label><br />
                            <span data-bind="text: Status"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label class="control-label"> Deadline: </label><br />
                            <span data-bind="text: $parent.FormatToLocalDateTime(DeadLine())"></span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 center-auto-width">
                            <p class="list-empty-text margin-none">
                                <a class="cursor-pointer" data-bind="attr: { 'href': '@Url.Action("GetTask", "Task")/' + TaskId() }">
                                    <i class="font-size-1-5 fas fa-share-square padding-top-10"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-8 text-center" data-bind="with: Pager, visible: !Loading()">
            <partial name="_Pager" />
        </div>
    </div>
</div>

